<?xml version="1.0"?>
<config>
    <modules>
        <Ebanx_Gateway>
            <version>2.11.0</version>
        </Ebanx_Gateway>
    </modules>
    <global>
        <helpers>
            <ebanx>
                <class>Ebanx_Gateway_Helper</class>
            </ebanx>
        </helpers>

        <currency>
            <import>
                <services>
                    <ebanx_rates>
                        <name>EBANX</name>
                        <model>Ebanx_Gateway_Model_Import</model>
                    </ebanx_rates>
                </services>
            </import>
        </currency>

        <blocks>
            <ebanx>
                <class>Ebanx_Gateway_Block</class>
            </ebanx>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Ebanx_Gateway_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Ebanx_Gateway_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Ebanx_Gateway_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_totals>Ebanx_Gateway_Block_Customer_Sales_Order_Totals</order_totals>
                </rewrite>
            </sales>
        </blocks>

        <models>
            <ebanx>
                <class>Ebanx_Gateway_Model</class>
                <resourceModel>ebanx_resource</resourceModel>
            </ebanx>
            <ebanx_resource>
                <class>Ebanx_Gateway_Model_Resource</class>
                <entities>
                    <usercard>
                        <table>ebanx_user_cards</table>
                    </usercard>
                    <lead>
                        <table>ebanx_store_lead</table>
                    </lead>
                    <log>
                        <table>ebanx_logs</table>
                    </log>
                </entities>
            </ebanx_resource>
        </models>

        <events>
            <sales_order_invoice_pay>
                <observers>
                    <ebanx_gateway_model_capture>
                        <type>singleton</type>
                        <class>Ebanx_Gateway_Model_Capture</class>
                        <method>capturePayment</method>
                    </ebanx_gateway_model_capture>
                </observers>
            </sales_order_invoice_pay>
            <admin_system_config_changed_section_payment>
                <observers>
                    <Ebanx_Gateway_Model_Observer>
                        <type>singleton</type>
                        <class>Ebanx_Gateway_Model_Observer</class>
                        <method>observeConfigSection</method>
                    </Ebanx_Gateway_Model_Observer>
                </observers>
            </admin_system_config_changed_section_payment>
            <admin_system_config_changed_section_advanced>
                <observers>
                    <Ebanx_Gateway_Model_Observer>
                        <type>singleton</type>
                        <class>Ebanx_Gateway_Model_Observer</class>
                        <method>observeAdvancedSection</method>
                    </Ebanx_Gateway_Model_Observer>
                </observers>
            </admin_system_config_changed_section_advanced>
        </events>

        <resources>
            <ebanx_magento_setup>
                <setup>
                    <module>Ebanx_Gateway</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </ebanx_magento_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <ebanx_payment_hash>
                    <to_order>*</to_order>
                </ebanx_payment_hash>
                <ebanx_due_date>
                    <to_order>*</to_order>
                </ebanx_due_date>
                <ebanx_instalment>
                    <to_order>*</to_order>
                </ebanx_instalment>
            </sales_convert_quote_payment>
            <sales_convert_quote_address>
                <ebanx_document_type>
                    <to_order_address>*</to_order_address>
                </ebanx_document_type>
            </sales_convert_quote_address>
            <sales_convert_quote_address>
                <ebanx_interest_amount>
                    <to_order>*</to_order>
                </ebanx_interest_amount>
            </sales_convert_quote_address>
        </fieldsets>

        <sales>
            <quote>
                <totals>
                    <ebanx_interest>
                        <class>ebanx/quote_interest</class>
                        <after>discount</after>
                        <before>tax</before>
                    </ebanx_interest>
                    <ebanx_local_tax>
                        <class>ebanx/quote_localtax</class>
                        <after>discount</after>
                        <before>tax</before>
                    </ebanx_local_tax>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <ebanx_interest>
                        <class>ebanx/order_invoice_total_interest</class>
                        <after>grand_total</after>
                    </ebanx_interest>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <ebanx_interest>
                        <class>ebanx/order_creditmemo_total_interest</class>
                        <after>grand_total</after>
                    </ebanx_interest>
                </totals>
            </order_creditmemo>
        </sales>
    </global>
    <frontend>
        <routers>
            <ebanx>
                <use>standard</use>
                <args>
                    <module>Ebanx_Gateway</module>
                    <frontName>ebanx</frontName>
                </args>
            </ebanx>
            <routeurfrontend>
                <use>standard</use>
                <args>
                    <module>Plugincheck</module>
                    <frontName>plugincheck</frontName>
                </args>
            </routeurfrontend>
        </routers>
        <layout>
            <updates>
                <ebanx module="Ebanx_Gateway">
                    <file>ebanx.xml</file>
                </ebanx>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ebanx module="Ebanx_Gateway">
                    <file>ebanx.xml</file>
                </ebanx>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <!-- Brazil -->
            <ebanx_boleto>
                <active>1</active>
                <model>ebanx/brazil_boleto</model>
                <title>Boleto Bancário</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_boleto>
            <ebanx_tef>
                <active>1</active>
                <model>ebanx/brazil_tef</model>
                <title>Débito Online</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_tef>
            <ebanx_cc_br>
                <active>1</active>
                <model>ebanx/brazil_creditcard</model>
                <title>Cartão de Crédito</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_cc_br>
            <ebanx_wallet>
                <active>1</active>
                <model>ebanx/brazil_wallet</model>
                <title>Saldo EBANX</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_wallet>
            <!-- Colombia -->
            <ebanx_baloto>
                <active>1</active>
                <model>ebanx/colombia_baloto</model>
                <title>Baloto</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_baloto>
            <ebanx_cc_co>
                <active>1</active>
                <model>ebanx/colombia_creditcard</model>
                <title>Tarjeta de Credito</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_cc_co>
            <ebanx_pse>
                <active>1</active>
                <model>ebanx/colombia_pse</model>
                <title>PSE - Pago Seguros en Línea</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_pse>
            <!-- Chile -->
            <ebanx_sencillito>
                <active>1</active>
                <model>ebanx/chile_sencillito</model>
                <title>Sencillito</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_sencillito>
            <ebanx_servipag>
                <active>1</active>
                <model>ebanx/chile_servipag</model>
                <title>Servipag</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_servipag>
            <ebanx_webpay>
                <active>1</active>
                <model>ebanx/chile_webpay</model>
                <title>Webpay</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_webpay>
            <ebanx_multicaja>
                <active>1</active>
                <model>ebanx/chile_multicaja</model>
                <title>Multicaja</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_multicaja>
            <!-- Peru -->
            <ebanx_pagoefectivo>
                <active>1</active>
                <model>ebanx/peru_pagoefectivo</model>
                <title>PagoEfectivo</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_pagoefectivo>
            <ebanx_safetypay>
                <active>1</active>
                <model>ebanx/peru_safetypay</model>
                <title>SafetyPay</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_safetypay>
            <!-- Mexico -->
            <ebanx_oxxo>
                <active>1</active>
                <model>ebanx/mexico_oxxo</model>
                <title>OXXO</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_oxxo>
            <ebanx_spei>
                <active>1</active>
                <model>ebanx/mexico_spei</model>
                <title>SPEI</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_spei>
            <ebanx_cc_mx>
                <active>1</active>
                <model>ebanx/mexico_creditcard</model>
                <title>Tarjeta de Credito</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_cc_mx>
            <ebanx_dc_mx>
                <active>1</active>
                <model>ebanx/mexico_debitcard</model>
                <title>Tarjeta de Debito</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_dc_mx>
            <!-- Argentina -->
            <ebanx_cc_ar>
                <active>1</active>
                <model>ebanx/argentina_creditcard</model>
                <title>Tarjeta de Credito</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_cc_ar>
            <ebanx_rapipago>
                <active>1</active>
                <model>ebanx/argentina_rapipago</model>
                <title>Rapipago</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_rapipago>
            <ebanx_pagofacil>
                <active>1</active>
                <model>ebanx/argentina_pagofacil</model>
                <title>Pago Facil</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_pagofacil>
            <ebanx_otroscupones>
                <active>1</active>
                <model>ebanx/argentina_otroscupones</model>
                <title>Otros Cupones</title>
                <payment_action>sale</payment_action>
                <sort_order>2</sort_order>
            </ebanx_otroscupones>
            <!-- Ecuador -->
            <ebanx_safetypay_ec>
                <active>1</active>
                <model>ebanx/ecuador_safetypay</model>
                <title>SafetyPay</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_safetypay_ec>
            <!-- Settings -->
            <ebanx_settings>
                <brazil_taxes>cpf</brazil_taxes>
                <enabled>1</enabled>
                <iof_local_amount>1</iof_local_amount>
                <!-- Brazil Payment Methods -->
                <payment_methods_brazil>ebanx_cc_br,ebanx_boleto,ebanx_tef,ebanx_wallet</payment_methods_brazil>
                <payment_methods_chile>ebanx_sencillito,ebanx_servipag,ebanx_webpay</payment_methods_chile>
                <payment_methods_chile>ebanx_sencillito,ebanx_servipag,ebanx_multicaja,ebanx_webpay</payment_methods_chile>
                <payment_methods_colombia>ebanx_baloto,ebanx_pse,ebanx_cc_co</payment_methods_colombia>
                <payment_methods_peru>ebanx_pagoefectivo,ebanx_safetypay</payment_methods_peru>
                <payment_methods_mexico>ebanx_oxxo,ebanx_spei,ebanx_cc_mx,ebanx_dc_mx</payment_methods_mexico>
                <payment_methods_argentina>ebanx_cc_ar,ebanx_rapipago,ebanx_pagofacil,ebanx_otroscupones</payment_methods_argentina>
                <payment_methods_ecuador>ebanx_safetypay_ec</payment_methods_ecuador>

                <payment_methods_visualization>1</payment_methods_visualization>
                <save_card_data>1</save_card_data>
                <one_click_payment>0</one_click_payment>
                <min_instalment_value>0</min_instalment_value>
                <create_invoice>1</create_invoice>
                <auto_capture>1</auto_capture>

                <payment_co_status>processing</payment_co_status>
                <payment_pe_status>holded</payment_pe_status>
                <payment_op_status>pending</payment_op_status>
                <payment_ca_status>canceled</payment_ca_status>
                <!-- Compliance Fields -->
                <mask_taxvat_field>0</mask_taxvat_field>
                <cpf_field></cpf_field>
                <cnpj_field></cnpj_field>
                <rut_field></rut_field>
                <cdi_field></cdi_field>
                <document_type_field></document_type_field>
                <dni_field_pe></dni_field_pe>
                <dni_field></dni_field>
            </ebanx_settings>
            <!-- Legacy -->
            <ebanx_standard>
                <active>0</active>
                <model>ebanx/legacy_standard</model>
                <title>Ebanx Standard</title>
                <payment_action>sale</payment_action>
                <sort_order>2</sort_order>
            </ebanx_standard>
            <ebanx_express>
                <active>0</active>
                <model>ebanx/legacy_express</model>
                <title>Ebanx Express</title>
                <payment_action>sale</payment_action>
                <sort_order>2</sort_order>
            </ebanx_express>
        </payment>
    </default>
</config>
