<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <ebanx_settings translate="label" module="ebanx">
                    <label>EBANX</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<a href="http://ebanx.com" target="_blank"><img title="EBANX" alt="EBANX" id="logo_ebanx" width="150" /></a><br />
                    <script type="text/javascript">
                        document.getElementById('logo_ebanx').src = SKIN_URL + 'ebanx/images/logo.png';
                    </script>
                    <br/>
                    <p>EBANX easy-to-setup checkout allows your business to accept local payments in Brazil, Argentina, Ecuador, Mexico, Colombia, Chile & Peru.</p>
                    <p>You can obtain your API keys in the settings section, on the <a href="https://dashboard.ebanx.com/" target="_blank" title="EBANX Dashboard">EBANX Dashboard</a>.</p>
                    ]]></comment>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </enabled>

                        <heading_config translate="label">
                            <label>API Keys</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_config>
                        <mode translate="label">
                            <label>Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ebanx/source_mode</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </mode>
                        <integration_key_sandbox translate="label">
                            <label>Sandbox Integration Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </integration_key_sandbox>
                        <integration_key_public_sandbox translate="label">
                            <label>Sandbox Public Integration Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </integration_key_public_sandbox>
                        <integration_key_live translate="label">
                            <label>Live Integration Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </integration_key_live>
                        <integration_key_public_live translate="label">
                            <label>Live Public Integration Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </integration_key_public_live>

                        <preferences_title translate="label">
                            <label>Preferences</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </preferences_title>
                        <debug_log translate="label">
                            <label>Enable Debug Log</label>
                            <comment>Record all errors that occur when executing a transaction.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug_log>

                        <create_invoice translate="label">
                            <label>Create invoices</label>
                            <comment>Create an invoice when payment is confirmed</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </create_invoice>

                        <brazil_taxes translate="label">
                            <label>Checkout for</label>
                            <comment>In order to process with the EBANX Plugin in Brazil there a few mandatory fields
                                such as CPF identification for individuals and CNPJ for companies.
                            </comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_persontype</source_model>
                            <validate>required-entry</validate>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </brazil_taxes>

                        <iof_local_amount translate="label">
                            <label>Apply IOF on local amount</label>
                            <comment>Get in touch with the EBANX team to validate the change and then, you just have to select "no" on this option.
                                That way, your customer will not be charged with IOF (Brazilian Tax on Financial Operations).
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>65</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </iof_local_amount>

                        <payment_methods_title translate="label">
                            <label>Payment Methods</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </payment_methods_title>
                        <payment_methods_brazil translate="label">
                            <label>Brazil</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodsbrazil</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </payment_methods_brazil>
                        <payment_methods_mexico translate="label">
                            <label>Mexico</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodsmexico</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </payment_methods_mexico>
                        <payment_methods_chile translate="label">
                            <label>Chile</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodschile</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </payment_methods_chile>
                        <payment_methods_colombia translate="label">
                            <label>Colombia</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodscolombia</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </payment_methods_colombia>
                        <payment_methods_peru translate="label">
                            <label>Peru</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodsperu</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </payment_methods_peru>
                        <payment_methods_argentina translate="label">
                            <label>Argentina</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodsargentina</source_model>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </payment_methods_argentina>
                        <payment_methods_ecuador translate="label">
                            <label>Ecuador</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodsecuador</source_model>
                            <sort_order>165</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </payment_methods_ecuador>

                        <payment_methods_visualization_title translate="label">
                            <label>Payment Methods Visualization</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>170</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </payment_methods_visualization_title>

                        <payment_methods_visualization translate="label">
                            <label>Display Payment Methods Logo</label>
                            <comment>Selecting "Yes", you will always show payment method logos helping your customer to identify which suppliers are accepted. Otherwise, if you select "No" the customer will see only the logo of the payment method chosen.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_methods_visualization>

                        <heading_cc translate="label">
                            <label>Credit Card</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_cc>
                        <!-- <title_cc translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>205</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title_cc>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </sort_order>-->
                        <save_card_data translate="label">
                            <label>Save Card Data</label>
                            <comment>Allow your customer to save credit card and debit card data for future purchases.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </save_card_data>
                        <one_click_payment translate="label">
                            <label>One-Click Payment</label>
                            <comment>Allow your customer to complete payments in one-click using credit cards saved.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>225</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </one_click_payment>
                        <auto_capture translate="label">
                            <label>Auto-Capture</label>
                            <comment>Automatically capture payments from your customers, just for credit card. Otherwise
                                you will need to capture the payment manually by creating an invoice for each order. Not captured payments will be cancelled
                                in 4 days.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auto_capture>-->
                        <max_instalments translate="label">
                            <label>Maximum n° of Instalments</label>
                            <comment>Establish the maximum number of instalments in which your customer can pay, as consented on your contract.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>ebanx/source_instalment</source_model>
                            <sort_order>235</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_instalments>
                        <min_instalment_value translate="label">
                            <label>Minimum Instalment (USD)</label>
                            <comment>Set the minimum installment value to show to the options for your customer on the checkout page. The default values are Brazil: BRL 5, Mexico: MXN 100, Colombia: COL 1, Argentina: ARS 1. Any amount under these will not be considered.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-number</validate>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_instalment_value>
                        <use_interest_rates translate="label">
                            <label>Interest Rates</label>
                            <comment>Enable and set custom interest rates according to the number of installments you have allowed the payment for your customers.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>245</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_interest_rates>
                        <interest_rate translate="label">
                            <label>Interest</label>
                            <frontend_model>ebanx/adminhtml_system_config_form_field_interest</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <use_interest_rates>1</use_interest_rates>
                            </depends>
                        </interest_rate>

                        <heading_cash translate="label">
                            <label>Cash Payments</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_cash>
                        <due_date_days translate="label">
                            <label>Days to Expiration</label>
                            <comment>Define the maximum number of days on which your customer can complete the payment of: Boleto, OXXO, Sencillito, PagoEfectivo and SafetyPay.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>ebanx/source_duedate</source_model>
                            <sort_order>310</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </due_date_days>

                        <!-- Payment Status -->
                        <payment_status_title translate="label">
                            <label>Payment Status</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>320</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </payment_status_title>
                        <payment_co_status translate="label">
                            <label>Paid Payment Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <comment>Payment paid, the customer has paid the order and EBANX received the payment.</comment>
                            <sort_order>330</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_co_status>
                        <payment_pe_status translate="label">
                            <label>Pending Payment Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <comment>Payment that have not yet been paid or is still being processed.</comment>
                            <sort_order>340</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_pe_status>
                        <payment_op_status translate="label">
                            <label>Requested Payment Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <comment>Payment was created but it has not yet been assigned to a payment method.</comment>
                            <sort_order>350</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_op_status>
                        <payment_ca_status translate="label">
                            <label>Canceled Payment Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <comment>Payment canceled when the customer hasn't make the payment, so EBANX set as
                                canceled.
                            </comment>
                            <sort_order>360</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_ca_status>

                        <!-- Checkout Fields -->
                        <compliance_fields_title translate="label">
                            <label>Mandatory Fields</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </compliance_fields_title>
                        <mask_taxvat_field translate="label">
                            <label>Mask taxvat field</label>
                            <comment>When enabled will morph taxvat field label and mask to match the country's document.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>404</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </mask_taxvat_field>
                        <cpf_field translate="label">
                            <label>CPF Document</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>409</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cpf_field>
                        <cnpj_field translate="label">
                            <label>CNPJ Document</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>410</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cnpj_field>
                        <rut_field translate="label">
                            <label>RUT Document</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>411</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </rut_field>
                        <document_type_field translate="label">
                            <label>Argentinian Document Type</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>412</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </document_type_field>
                        <cdi_field translate="label">
                            <label>CDI Document</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>413</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </cdi_field>
                        <dni_field_pe translate="label">
                            <label>Peru DNI Document</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>414</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </dni_field_pe>
                        <dni_field translate="label">
                            <label>Colombia DNI Document</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>415</sort_order>
                            <comment>Processing with EBANX requires a few mandatory fields that need to be included in your checkout when processing to Brazil, Chile, Colombia, Peru and Argentina, such as: CPF, CNPJ, DNI and RUT. You can choose to: replace your TAX/VAT fields and name it as these mandatories field or add your own field.</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </dni_field>
                        <optional_fields_title translate="label">
                            <label>Optional Fields</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>420</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </optional_fields_title>
                        <street_number_field translate="label">
                            <label>Street Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>421</sort_order>
                            <comment>EBANX uses the number typed on Address field as street number. If you use a custom field for it you can type its name here.</comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </street_number_field>
                    </fields>
                </ebanx_settings>
            </groups>
        </payment>
    </sections>
</config>
