.sp-methods .container-new-card .form-list {
  padding-left: 0;
}

.ebanx-payment-method input.input-text.identified,
.ebanx-payment-method input.input-text.unknown {
  padding-right: 50px;

  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: center right 7px;
}

.ebanx-payment-method input.input-text.visa.identified {
  background-image: url(../icons/visa.png);
}

.ebanx-payment-method input.input-text.mastercard.identified {
  background-image: url(../icons/mastercard.png);
}

.ebanx-payment-method input.input-text.amex.identified {
  background-image: url(../icons/amex.png);
}

.ebanx-payment-method input.input-text.discover.identified {
  background-image: url(../icons/discover.png);
}

.ebanx-payment-method input.input-text.dinersclub.identified {
  background-image: url(../icons/dinersclub.png);
}

.ebanx-payment-method input.input-text.maestro.identified {
  background-image: url(../icons/maestro.png);
}

.ebanx-payment-method input.input-text.elo.identified {
  background-image: url(../icons/elo.png);
}

.ebanx-payment-method input.input-text.unknown {
  background-image: url(../icons/unknown.png);
}

.ebanx-payment-method input.input-text#ebanx_cc_ar_cc_number {
  background-image: none;
}

.ebanx-credit-card-row:after {
  content: "";
  display: table;
  clear: both;
}

.sp-methods .form-list.ebanx-payment-method .total-to-pay {
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: 10px 168px 10px 0;
}

.sp-methods .form-list.ebanx-es-method .total-to-pay {
  background-image: url(../ebanx-estas-pagando.png);
  background-size: 168px 22px;
}

.sp-methods .form-list.ebanx-br-method .total-to-pay {
  background-image: url(../ebanx-pagando.png);
  background-size: 136px 22px;
  padding-right: 136px;
}

.ebanx-method-icon {
  height: 30px;
  display: inline-block;
  vertical-align: middle;
}

.save-card,
.new-card { display: none; }

input[type=radio]:checked ~ .save-card {
  display: block;
}

input[type=radio]:checked ~ .new-card {
  display: block;
}
