.sandbox-alert-box {
  max-width: 100%;
  display: inline-block;
  position: relative;
  background-color: #FCF8BB;
  border: 1px solid #F3E39A;
  border-radius: 2px;
  font-size: 12px;
  padding: 15px 10px 10px 10px;
}

.sandbox-alert-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
