<?xml version="1.0"?>
<config>
    <modules>
        <Ebanx_Gateway>
            <version>0.0.1</version>
        </Ebanx_Gateway>
    </modules>
    <global>
        <helpers>
            <ebanx>
                <class>Ebanx_Gateway_Helper</class>
            </ebanx>
        </helpers>
        
        <blocks>
            <ebanx>
                <class>Ebanx_Gateway_Block</class>
            </ebanx>
        </blocks>
                
        <models>
            <ebanx>
                <class>Ebanx_Gateway_Model</class>
            </ebanx>
        </models>

        <resources>
            <ebanx_setup>
                <setup>
                    <module>Ebanx_Gateway</module>
                </setup>
            </ebanx_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <ebanx>
                <use>standard</use>
                <args>
                    <module>Ebanx_Gateway</module>
                    <frontName>ebanx</frontName>
                </args>
            </ebanx>
        </routers>
        <layout>
            <updates>
                <ebanx module="Ebanx_Gateway">
                    <file>ebanx.xml</file>
                </ebanx>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <ebanx_boleto>
                <active>1</active>
                <model>ebanx/boleto</model>
                <title>Boleto Bancário</title>
                <sort_order>1</sort_order>
                <specificcountry>BR</specificcountry>
            </ebanx_boleto>
        </payment>
    </default>
</config>