<?xml version="1.0"?>
<config>
    <modules>
        <Ebanx_Gateway>
            <version>2.0.1</version>
        </Ebanx_Gateway>
    </modules>
    <global>
        <helpers>
            <ebanx>
                <class>Ebanx_Gateway_Helper</class>
            </ebanx>
        </helpers>

        <blocks>
            <ebanx>
                <class>Ebanx_Gateway_Block</class>
            </ebanx>
        </blocks>

        <models>
            <ebanx>
                <class>Ebanx_Gateway_Model</class>
            </ebanx>
        </models>

        <resources>
            <ebanx_setup>
                <setup>
                    <module>Ebanx_Gateway</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </ebanx_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <ebanx_payment_hash>
                    <to_order>*</to_order>
                </ebanx_payment_hash>
                <ebanx_due_date>
                    <to_order>*</to_order>
                </ebanx_due_date>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <ebanx>
                <use>standard</use>
                <args>
                    <module>Ebanx_Gateway</module>
                    <frontName>ebanx</frontName>
                </args>
            </ebanx>
        </routers>
        <layout>
            <updates>
                <ebanx module="Ebanx_Gateway">
                    <file>ebanx.xml</file>
                </ebanx>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <ebanx_boleto>
                <active>1</active>
                <model>ebanx/boleto</model>
                <title>Boleto Bancário</title>
                <payment_action>charge</payment_action>
                <sort_order>1</sort_order>
            </ebanx_boleto>
            <ebanx_baloto>
                <active>1</active>
                <model>ebanx/baloto</model>
                <title>Baloto</title>
                <payment_action>charge</payment_action>
                <sort_order>1</sort_order>
            </ebanx_baloto>
            <!-- Chile -->
            <ebanx_sencillito>
                <active>1</active>
                <model>ebanx/chile_sencillito</model>
                <title>Sencillito</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_sencillito>
            <ebanx_servipag>
                <active>1</active>
                <model>ebanx/chile_servipag</model>
                <title>Servipag</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_servipag>
            <!-- Peru -->
            <ebanx_pagoefectivo>
                <active>1</active>
                <model>ebanx/peru_pagoefectivo</model>
                <title>PagoEfectivo</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
            </ebanx_pagoefectivo>
            <ebanx_safetypay>
                <active>1</active>
                <model>ebanx/peru_safetypay</model>
                <title>SafetyPay</title>
                <payment_action>sale</payment_action>
                <sort_order>1</sort_order>
                <allowspecific>1</allowspecific>
                <specificcountry>PE</specificcountry>
                <allowed_currencies>PEN,USD,EUR</allowed_currencies>
            </ebanx_safetypay>
        </payment>
    </default>
</config>
