<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <ebanx_settings translate="label" module="ebanx">
                    <label>EBANX</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[<a href="http://ebanx.com" target="_blank"><img title="EBANX" alt="EBANX" id="logo_ebanx" width="150" /></a><br />
                    <script type="text/javascript">
                        document.getElementById('logo_ebanx').src = SKIN_URL + 'ebanx/images/logo.png';
                    </script>
                    <br/>
                    <p>You can obtain the integration keys in the settings section, logging in to the <a href="https://www.ebanx.com/business/en/dashboard" target="_blank">EBANX Dashboard.</a></p>
                    ]]></comment>
                    <fields>
                        <heading_config translate="label">
                            <label>Configuration</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_config>
                        <mode translate="label">
                            <label>Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ebanx/source_mode</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </mode>
                        <integration_key_sandbox translate="label">
                            <label>Integration Key Sanbox</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <mode>sandbox</mode>
                            </depends>
                        </integration_key_sandbox>
                        <integration_key_public_sandbox translate="label">
                            <label>Public Integration Key Sandbox</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <mode>sandbox</mode>
                            </depends>
                        </integration_key_public_sandbox>
                        <integration_key_live translate="label">
                            <label>Integration Key Live</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <mode>live</mode>
                            </depends>
                        </integration_key_live>
                        <integration_key_public_live translate="label">
                            <label>Public Integration Key Live</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <mode>live</mode>
                            </depends>
                        </integration_key_public_live>
                        <debug_log translate="label">
                            <label>Enable Debug Log</label>
                            <comment>Record all errors that occur when executing a transaction.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </debug_log>
                        <brazil_taxes translate="label">
                            <label>Checkout for</label>
                            <comment>In order to process with the EBANX Plugin in Brazil there a few mandatory fields such as CPF identification for individuals and CNPJ for companies.</comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_persontype</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </brazil_taxes>



                        <payment_methods_title translate="label">
                            <label>Payment Methods</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </payment_methods_title>
                        <payment_methods_brazil translate="label">
                            <label>Brazil</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodsbrazil</source_model>
                            <sort_order>110</sort_order>
                            <size>5</size>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_methods_brazil>
                        <payment_methods_mexico translate="label">
                            <label>Mexico</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodsmexico</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_methods_mexico>
                        <payment_methods_chile translate="label">
                            <label>Chile</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodschile</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_methods_chile>
                        <payment_methods_colombia translate="label">
                            <label>Colombia</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodscolombia</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_methods_colombia>
                        <payment_methods_peru translate="label">
                            <label>Peru</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ebanx/source_methodsperu</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </payment_methods_peru>



                        <heading_cc translate="label">
                            <label>Credit Card</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_cc>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>205</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <frontend_class>validate-number</frontend_class>
                        </sort_order>
                        <order_status translate="label">
                            <label>New Order Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status_processing</source_model>
                            <sort_order>215</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        <save_card_data translate="label">
                            <label>Save Card Data</label>
                            <comment>Allow your customer to save credit card and debit card data for future purchases.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>220</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </save_card_data>
                        <one_click_payment translate="label">
                            <label>One-Click Payment</label>
                            <comment>Allow your customer to complete payments in one-click using credit cards saved.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>225</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </one_click_payment>
                        <auto_capture translate="label">
                            <label>Auto-Capture</label>
                            <comment>Automatically capture payments from your customers, just for credit card. Otherwise you will need to capture the payment manually. Not captured payments will be cancelled in 4 days.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>230</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auto_capture>
                        <max_instalments translate="label">
                            <label>Maximum Number of Instalments</label>
                            <comment>Establish the maximum number of instalments in which your customer can pay, as consented on your contract.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>ebanx/source_instalment</source_model>
                            <sort_order>235</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_instalments>
                        <min_installment_value translate="label">
                            <label>Minimum Installment Value</label>
                            <comment>Set the minimum instalment value during checkout. The minimum EBANX allows for BRL is 20 and MXN is 100, lower values in these currencies will be ignored.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>required-entry validate-number</validate>
                            <sort_order>240</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_installment_value>
                        <use_interest_rates translate="label">
                            <label>Interest Rates</label>
                            <comment>Enable and set a custom interest rate for your customers according to the number of Instalments you allow the payment.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>245</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_interest_rates>
                        <interest_rate translate="label">
                            <label>Interest</label>
                            <frontend_model>ebanx/adminhtml_system_config_form_field_interest</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </interest_rate>



                        <heading_cash translate="label">
                            <label>Cash Payments</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_cash>
                        <due_date_days translate="label">
                            <label>Days to Expiration</label>
                            <comment>Define the maximum number of days on which your customer can complete the payment of: Boleto, OXXO, Sencilito, PagoEfectivo and SafetyPay.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>ebanx/source_duedate</source_model>
                            <sort_order>310</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </due_date_days>
                    </fields>
                </ebanx_settings>
            </groups>
        </payment>
    </sections>
</config>